* {
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  outline: 1px solid green;
}

ul {
  outline: 1px solid yellow;
  width: 241px;
  display: inline-block;
  list-style: none;
  padding:0

}

li {
  outline: 1px solid blue;
}

.enlaces {
  outline: 1px solid orange ;
  display: inline-block;
  width: 100px;
  color: green;
  text-decoration: none ;
  text-align:center;
}
